apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: docker.io/hashicorp/http-echo
    newTag: latest

configMapGenerator:
  - name: sample-app-config
    behavior: merge
    literals:
      - TEXT=sample-app (proxmox-dev)
