replicaCount: 1

image:
  repository: docker.io/hashicorp/http-echo
  tag: "0.2.3"
  pullPolicy: IfNotPresent

app:
  text: "sample-app (helm)"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: nginx
  host: sample-app.local
  path: /

probes:
  readiness:
    initialDelaySeconds: 2
    periodSeconds: 5
  liveness:
    initialDelaySeconds: 10
    periodSeconds: 10

resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 128Mi

